.frame1 {
    align-items: center;
    width: 90%;
    padding-left: 50px;
    padding-right: 50px;
    background: #FFFFFF;
}

.header {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content {
    align-items: center;
    width: 100%;
    position: relative; 
}

.header-info-1 {
    align-items: flex-start;
}

.item-logo {  
    width: auto;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    color: #95E1D3;
    margin: 5px;
    text-decoration: none;
}

.header-info-2 {
    display: flex;
    align-items: flex-end;
}

.item a{
    width: auto;
    align-items: center;
    vertical-align: baseline;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #65cdba;
    text-transform: uppercase;
    margin-left: 32px;
    text-decoration: none;
}

.item-active a{
    color: #e1959a;
    text-decoration: underline solid #e1959a 3px;
    text-underline-offset: 3px;
}

.text1 {
    text-align: center;
    border-radius: 0px;
    font-family: Kaushan Script;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    color: #333333;
}

.text2 {
    text-align: center;
    border-radius: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    color: #333333;
    text-transform: uppercase;
}

.red-line-container{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
}

.red-line {
    display: block;
    width: 60px;
    height: 4px;
    background: #F38181;
}

/* list */
.list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 20px;
}

.list-item{
    width: 33%;
    min-width: 300px;
}

.list-item-content {
    display: inline-flex;
}

.list-item-content-pic{
    padding: 15px;
}

.text-headline { 
    text-transform: uppercase; 
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}



.info-block {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #B6B6B6;
}

.text3 {
    width: 100%;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(182, 182, 182, 1);
}

.footer {
    border-top: #B6B6B6 solid 1px;
    padding-top: 5px;
    align-items: center;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.footer-info-1 {
    align-items: flex-start;
}

.info-block-1 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #B6B6B6;
}

.item-logo-footer-1 {
    width: auto;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    color: #95E1D3;
    margin: 5px;
}

.footer-info-2 {
    display: flex;
    align-items: flex-end;
}

.input-email {
    border: 1px solid grey;
    font-style: italic;
    line-height: 21px;
    width: 250px;
    height: 26px;
}

.submit-email-button {
    border: 1px solid grey;
    background-color: #95E1D3;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    color:  rgba(255, 255, 255, 1)    ;
}








